@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
     font-family: 'Onest', sans-serif;
}

svg g {
     fill: white;
}

.grid.grid-cols-12.gap-8.w-\[960px\].mx-auto.bg-\[\#fff\].p-6.rounded-lg.origin-top-left-1\/2-3\/2.absolute.top-\[50\%\].left-\[50\%\] {
     transform: translate(-50%, -50%);
 }